body {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: 15px 70px auto 15px;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', sans-serif;
    background: rgb(251, 251, 251)
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

img {
    max-width: 400px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #194959;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}

.form-row.centered {
    justify-content: center;
}

.w-input {
    max-width: 35%;
    padding: 5px;
    font-family: inherit;
    font-size: 18px;
}

.w-button {
    padding: 10px;
    margin: 0 10px;
    font-size: 20px;
    font-family: inherit;
    color: white;
    border: 0;
    border-radius: 3px;
    background: #e91f5d;
    text-decoration: none;
    cursor: pointer;
}

.proof-page p {
    width: 100%;
    font-size: 14px;
    margin: 30px;
    overflow-wrap: break-word;
    text-align: center;
}

.proof-page h1 {
    font-size: 32px;
    letter-spacing: .1em;
}

#load-canvas {
    animation: beat 1.5s infinite;
}

p > .tx {
    font-size: 20px;
    line-height: 2em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    margin: 0 60px;
}


.print-wrapper {
    display: none;
}

@media print {

    .print-wrapper{
        width: 100%;
        display: block;
    }

    svg {
        width: 100%;
    }

    svg text {
        font-family: 'IBM Plex Mono', monospace;
    }

    header,
    .row {
        display: none;
    }

}

@keyframes beat {
    50% {
        transform: scale(0.9);
    }
}